<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>微信JSSDK调用微信扫一扫</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script>
        var url = location.href.split('#')[0];
        //alert(url);
        $.ajax({
            type:"post",
            url:"http://sell.cnsyear.cn/weixin/sign",//自己填写请求地址
            data:{
                "url" : url
            },
            success:function(result){
//				alert("appid"+result.appid);
//				alert("timestamp"+result.timestamp);
//				alert("noncestr"+result.noncestr);
//				alert("signature"+result.signature);
//				alert("appid"+result.appid);
                wx.config({
                    // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                    debug: false,
                    // 必填，公众号的唯一标识
                    appId: result.appid,
                    // 必填，生成签名的时间戳
                    timestamp:""+result.timestamp,
                    // 必填，生成签名的随机串
                    nonceStr:result.noncestr,
                    // 必填，签名，见附录1
                    signature:result.signature,
                    // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                    jsApiList : [ 'checkJsApi', 'scanQRCode' ]
                });
            }
        })
        wx.error(function(res) {
            alert("出错了：" + res.errMsg);//这个地方的好处就是wx.config配置错误，会弹出窗口哪里错误，然后根据微信文档查询即可。
        });
        wx.ready(function() {
            wx.checkJsApi({
                jsApiList : ['scanQRCode'],
                    success : function(res) {
                    }
            });
            //点击按钮扫描二维码
            document.querySelector('#scanQRCode').onclick = function() {
                wx.scanQRCode({
                    needResult : 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果
                    scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                    success : function(res) {
                        var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                        //window.location.href = result;//因为我这边是扫描后有个链接，然后跳转到该页面
                        $("#content").html(result)
                    }
                });
            };
        });

/*
        $(function () {
            $("#scanQRCode2").click(function () {
                console.log("222")
                wx.scanQRCode({
                    needResult : 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                    scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                    success : function(res) {
                        var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                        //window.location.href = result;//因为我这边是扫描后有个链接，然后跳转到该页面
                        $("#content").html(result)
                    }
                });
            });
        });*/

    </script>
</head>
<body>
<input id="scanQRCode" type="button"  value="微信扫一扫" style="width: 100px;height: 80px;"/>
<!--<input id="scanQRCode2" type="button" value="微信扫一扫2" style="width: 80px;height: 50px;"/>-->
<h3>扫码内容：</h3>
<p id="content" style="color: red;font-size: 18px;">暂无内容</p>
</body>
</html>